**
!package.json
!package-lock.json
!vite.config.ts
!tsconfig.json
!tsconfig.app.json
!tsconfig.node.json
!index.html
!nginx.conf
!src/
!public/
**/.git
**/.gitignore
**/.vscode
**/node_modules
**/dist
**/Dockerfile*
**/docker-compose*
*.md
.DS_Store
