# MySQL
MYSQL_ROOT_PASSWORD=qmai_root_2024
MYSQL_DATABASE=qmai
MYSQL_USER=qmai
MYSQL_PASSWORD=qmai_123
MYSQL_PORT=3306

# Redis
REDIS_PASSWORD=qmai_redis
REDIS_PORT=6379

# MinIO
MINIO_ROOT_USER=qmai_admin
MINIO_ROOT_PASSWORD=qmai_minio_2024
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# RabbitMQ
RABBITMQ_USER=qmai
RABBITMQ_PASSWORD=qmai_rabbit
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
